.ui.borderless.menu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}
#middle {
  background-color: white;
}
body {
  padding-bottom: 80%;
}
a {
  color: black;
}
.ui.button {
  background-color: black;
  color: white;
}